.pedidos-activos {
  height: calc(100vh - 100px);
  padding-bottom: 150px;
}

.detelle_pedido {
  height: calc(100vh - 100px);
  padding-bottom: 150px;
}
.productos_pedido {
  height: calc(100vh - 100px);
  padding-bottom: 150px;
}

.tracking_pedido {
  height: calc(100vh - 100px);
  padding-bottom: 150px;
}
