.productos {
  height: calc(100vh - 300px);
  padding-bottom: 60px;
}

.detalles {
  height: calc(100vh - 300px);
  padding-bottom: 60px;
}

.listas {
  height: calc(100vh - 300px);
  padding-bottom: 100px;
}

.usuario_lista {
  height: calc(100vh - 300px);
  padding-bottom: 100px;
}

.usuario_compra {
  height: calc(100vh - 300px);
  padding-bottom: 100px;
}

.direcciones {
  height: calc(100vh - 300px);
  padding-bottom: 100px;
}

.direccion_usuario {
  height: calc(100vh - 300px);
  padding-bottom: 100px;
}

.reclamos {
  height: calc(100vh - 300px);
  padding-bottom: 100px;
}

.img_perfil {
  border-radius: 50px 0px 50px 0px;
  box-shadow: 2.8px 5.6px 10px #0ac927;
}
