input:-webkit-autofill {
  transition-delay: 3600s;
}

::-webkit-scrollbar {
  display: none;
}

body {
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  overscroll-behavior-y: contain;
}
