input:-webkit-autofill {
  transition-delay: 3600s;
}

::-webkit-scrollbar {
  display: none;
}

body {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  overscroll-behavior-y: contain;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
     
  input[type="range"]::-webkit-slider-thumb {
      width: 13px;
      -webkit-appearance: none;
      appearance: none;
      height: 13px;
      cursor: pointer;
      background: #ff761b;
      box-shadow: -405px 0 0 400px #000000;
      border-radius: 50%;
      
  }
}
